@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Top style, navs and ul, li
estilo para navs e ul, li e etc
*/
.bg {
    position: absolute;
    width: 100vw;
    height:  100vh;
    background-image: url("./img/istockphoto-1469656864-612x612.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    filter: brightness(50%);
}


svg{
    display: block;
    position: relative;
    top: 10px;

    z-index: 2;

}


.top {
    position: relative;
display: flex;
flex-direction: row;
    justify-content: space-between;
    padding: 150px;
    font-size: xx-large;
    color: white;
    z-index: 2;
    
}
.top nav {
    width: 100%;
} 
.top nav ul{
    display: flex;
    justify-content: space-between;
}
.top nav li{
    margin-right: 20px;
    list-style: none;
}
.top nav li a {
    text-decoration: none;
    color: white;
}



.top nav li#Logo{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
    font-size: 30pt;
}


/*Estilo para mid*/

.mid{
    background-color: white;
    position: relative;
    z-index: 2;
}

.mid h1 {
    
    font-size: 3.5em;
    margin: 40px 0 10px 0;
}
.mid p {
    margin-top: 80px;
}
.mid .flutuante .login{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.mid .flutuante .login button{
    width: 100px;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    padding: 10px;
    background: white;
    border: 2px solid black;
    transition: .2s;
    cursor: pointer;
}


.mid .flutuante {
    text-align: center;
    padding: 20px;
} 
.mid .flutuante section {
    padding: 20px 100px 20px 100px;
} 
.mid .flutuante .images{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.mid .flutuante .images img {
    max-width: 250px;
    border-radius: 10px;
}


.mid .flutuante button{
    border: solid 1px black;
    border-radius: 15px;
    padding: 10px;
    margin: 80px 20px 80px 20px;
    background-color: transparent;
    width: 300px;
    cursor: pointer;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.mid .flutuante button:hover{
    background-color: black;
    color: white;
    padding: 40px;
}


/*End style */

.end {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 80px;
}
.end nav ul{
    display: flex;
    justify-content: space-between;
}
.end nav li{
    margin-right: 20px;
    list-style: none;
    
}

/*monitoramento*/
.monitoramento {
    padding: 40px;
}
.monitoramento h1{
    margin-bottom: 20px;
    font-size:x-large;
    padding: 20px;
}
.monitoramento section{
    box-shadow: 10px 10px 20px rgb(232, 232, 232);
    background: transparent;
    border-radius: 20px;
}
.monitoramento div.funcionando{
    background-color: rgb(126, 253, 106);
}
.monitoramento div.desligado{
    background-color: rgb(253, 106, 106);
}
.monitoramento div {
    padding: 20px;
    background-color: whitesmoke;
    overflow:hidden;
}
.monitoramento div:first-child {
    border-radius: 20px 20px 0 0 ;
}

.monitoramento div:last-child {
    border-radius: 0 0 20px 20px ;
}
.monitoramento button{
    
    display: block;
    margin-top: 50px;
    padding: 10px 40px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
  
  .mid .flutuante .images img {
    max-width: 175px;
    border-radius: 10px;
}

    .top {
        padding: 30px;
    }
    .top nav li{
        align-content: center;
        font-size: 20pt;
    }
  
  .mid .flutuante .images img {
    max-width: 125px;
    border-radius: 10px;
    
}

}
@media screen and (max-width: 690px) {
  
  .mid .flutuante .images img {
    max-width: 100px;
    border-radius: 10px;
  }
  .mid .flutuante h1{
    font-size: 3em;
  }
  .mid .flutuante p{
    font-size: 1.5em;
  }
    .mid .flutuante button{
        font-size: 1.5em;
        margin: 40px 0;
    }
    .top nav li#Logo{
        display: block;
        
    }
    .top nav li{
        display: none;
        
    }
}
@media screen and (max-width: 640px) {
  .top{
    padding: 0px;
  }
  .mid .flutuante .images img {
    max-width: 250px;
    border-radius: 10px;
    margin-bottom: 80px;

}
.mid .flutuante .images {
    display: block;
}
.mid{
    padding: 0;
}

}